{% extends 'base_ward.html' %}
{% block title %}Applications{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Kericho County Bursary Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'ward homepage'%}">Home</a>
            <a class="nav-link" href="{% url 'ward applicant list'%}">Applications</a>
            <a class="nav-link" href="{% url 'ward logout' %}">Logout</a>
        </div>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Applications List</h2>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Institution</th>
            <th>Institution Type</th>
            <th>Action</th>
        </tr>
        {% for application in applications %}
        <tr>
            <td>{{ application.profile.first_name }}</td>
            <td>{{ application.profile.last_name }}</td>
            <td>{{ application.profile.school_name }}</td>
            <td>{{ application.profile.school_type }}</td>
            <td><a class='btn btn-info' href="/ward/applicants/{{ application.id }}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}