{% extends 'base_education.html' %}
{% block title %}Users{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'education homepage' %}">Kericho County Bursary Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'education homepage'%}">Home</a>
            <a class="nav-link" href="{% url 'education applications' %}">Applications</a>
            <a class="nav-link" href="{% url 'education users' %}">Users</a>
            <a class="nav-link" href="{% url 'education financial' %}">Financial Years</a>
            <a class="nav-link" href="{% url 'education allocations' %}">Allocations</a>
            <a class="nav-link" href="/education/logout/">Log Out</a>
        </div>
        </div>
    </div>
    </nav>
<div class="container">
    <form class="form" method="POST" action="/education/users/edit/{{ id }}/">
        <h3>Add New User</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-info" type="submit" value="Add User">
    </form>
</div>
{% endblock %}