{% extends 'base_applicant.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'applicant logout' %}" class='btn btn-info' >Log Out</a>
{% if application.is_active %}
<p>Your application is still being <span style="color:blue">processed</span></p>
{% else %}
{% if application.is_awarded %}
<p>Your application has been <span style="color:green">awarded</span></p>
{% else %}
<p>Your application has been <span style="color:red">declined</span></p>
{% endif %}
{% endif %}
{% endblock %}